@model MPageInfo
<section class="bar">
    <div class="bar-frame">
        <ul class="breadcrumbs">
            <li><a href="index.html">صفحه اصلی</a></li>
            <li>نتایج محصول</li>
        </ul>
    </div>
</section>
<div class="top-bar">
    <form class="form-sort" action="#">
        <fieldset>
            <div class="row">
                <label for="sort">مرتب سازی بر اساس:</label>
                <select id="sort">
                    <option>قیمت</option>
                    <option>قیمت</option>
                </select>
            </div>
            <div class="row">
                <label for="page">محصولات در هر صفحه:</label>
                @*<select id="page" onchange="location.href='@Url.Action("ShowAllProducts","Product")'+'/?PageSize='+'@Model.SelectedPageSize.ToString()'+'&PageNumber=1'">
                        @for (int i = 0; i < Model.PageSizeArray.Count(); i++)
                        {
                            <option value="@Model.SelectedPageSize ">@Model.PageSizeArray[i]</option>
                        }
                    </select>*@
            <select id="page" onchange="doIt(this,'@Url.Action("ShowAllProducts", "Product")')">
                @for (int i = 0; i < Model.PageSizeArray.Count(); i++)
                {
                    @if (Model.SelectedPageSize == Model.PageSizeArray[i])
                    {
                        <option selected value="@Model.PageSizeArray[i] ">@Model.PageSizeArray[i]</option>
                    }
                    else
                    {
                        <option  value="@Model.PageSizeArray[i] ">@Model.PageSizeArray[i]</option>
                    }

                }
            </select>

            </div>
            <div class="row">
                <label for="page">نوع محصول:</label>
                <select id="page">
                    <option>عروسک</option>
                    <option>خرس</option>
                </select>
            </div>
        </fieldset>
    </form>

    <script>
        function doIt(item, baseUrl) {
           
            window.location.href = 'P1S' + item.value  
            Model.SelectedPageSize = item.value
        }
    </script>
    <div class="top-bar top-bar-add">
        <ul class="paging">
            @for (int i = 1; i <= Model.TotalPageNumber; i++)
            {
                if (i == Model.CurrentPagenumber)
                {
                    <li class="active"><a asp-controller="Product" asp-action="ShowAllProducts" asp-route-PageNumber="@i" asp-route-PageSize="@Model.SelectedPageSize  ">@i</a></li>
                }
                else
                {
                    <li><a asp-controller="Product" asp-action="ShowAllProducts" asp-route-PageNumber="@i" asp-route-PageSize="@Model.SelectedPageSize">@i</a></li>
                }

            }

        </ul>


    </div>



</div>