@model MPageInfo

<div class="top-bar top-bar-add">
    <ul class="paging">
        @for (int i = 1; i <= Model.TotalPageNumber; i++)
        {
            if (i == Model.CurrentPagenumber)
            {
                <li class="active"><a asp-controller="Product" asp-action="ShowAllProducts" asp-route-PageNumber="@i" asp-route-pagesize="@Model.SelectedPageSize  ">@i</a></li>
            }
            else
            {
                <li><a asp-controller="Product" asp-action="ShowAllProducts" asp-route-PageNumber="@i" asp-route-pagesize="@Model.SelectedPageSize">@i</a></li>
            }

        }
       
    </ul>

    
</div>


