@model MProduct4View
@{
    ViewData["Title"] = "ShowAllProducts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.Partial("_barandtopbar", Model.ProductPageInfo)
@Html.Partial("_ShowPageNumbers", Model.ProductPageInfo)
<ul class="item-product">
    @foreach (var item in Model.ProductList2View)
    {
        <li>
            <div class="item">
                <div class="image">
                    <a href="product.html"><img src="@item.ImagesList[0].Img" alt=""></a>
                </div>
                <span class="name">
                    <a href="product.html">

                        @item.Name
                    </a>
                </span>
                <span>@item.CurrentPrice</span>
            </div>
        </li>
    }


</ul>
@Html.Partial("_ShowPageNumbers", Model.ProductPageInfo)
